:root.theme-light {
  --page-bg-color: url(../images/cover-image-light.png);
  --bg-color: #ffc2e6;
  --border-button-color: rgba(50, 49, 45, 0.4);
  --accent-color: #353430;
  --accent-text-color: #ff8dcb;
  --accent-bg-color: #ff8dcb;
  --link-color: #353430;
  --menu-button-active: #353430;
  --header-title: #ffc2e6;
  --text-color: #353430;
  --accent-shadow-color: #ff8dcb;
  --shadow-title: #ff0070;
  --accent-bg-text-color: #353430;
}

.theme-light .header-decorated {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: url(../images/cover-image-light.png);
    --bg-color: #ffc2e6;
    --border-button-color: rgba(50, 49, 45, 0.4);
    --accent-color: #353430;
    --accent-text-color: #ff8dcb;
    --accent-bg-color: #ff8dcb;
    --link-color: #353430;
    --menu-button-active: #353430;
    --header-title: #ffc2e6;
    --text-color: #353430;
    --accent-shadow-color: #ff8dcb;
    --shadow-title: #ff0070;
    --accent-bg-text-color: #353430;
  }

  .header-decorated {
    display: none;
  }
}
