/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --fucsia: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-color-hover: rgba(50, 49, 45, 0.4);
  --bg-image: url('../images/cover-image-light.png');
}

.theme-light .header_title{
  color: var(--title, #F1B2CE);

}

.theme-light .header__theme-menu-button{
  color: var(--dark, #000028);
}

.theme-light .header__theme-menu-item:first-child{
  border: 1px solid var(--dark, #000028);
}

.theme-light .rec-indicator {
  display: none;
}