.page {
  max-width: 375px;
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url('../images/cover-image-dark.png'));
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header{
  inline-size: minmax(375px, 1024px);
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    "nav"
    "title"
    "content";
  position: relative;
}

.header__theme-menu{
  grid-area: nav;
  justify-items: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__theme-menu-list{
  inline-size: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-item {
  inline-size: 70px;
  block-size: 26px;
  text-align: center;
  box-sizing: border-box;
}

.header__theme-menu-button{
  background: transparent;
  border: none;
  text-transform: lowercase;
  color: var(--accent-color);
}

.header__theme-menu-item:hover {
  box-sizing: border-box;
  border: 1px solid var(--accent-color-hover, #ff0070);
}

button:focus{
  outline: none;
}

.header__theme-menu-item:focus-within{
  border-bottom: 1px solid var(--accent-color-hover, #ff0070);
}

.header_title{
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  grid-area: title;
  color: var(--fucsia, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  justify-self: center;
  align-self: center;

}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--dark, #000028);
  font-size: 18px;
}

.header_container{
  grid-area: content;
  inline-size: 355px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_content-line {
  display: block;
}

/* Декоративные углы */
.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
  box-sizing: border-box;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decor-corner, #ff0070);
  border-right: 1px solid var(--decor-corner, #ff0070);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decor-corner, #ff0070);
  border-left: 1px solid var(--decor-corner, #ff0070);
}

/* Декоративная надпись REC */

.rec-indicator {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 2;
  pointer-events: none;
}

.rec-indicator__text {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: var(--accent-color, #ff0070);
}

/* Декоративный круг через псевдоэлемент */
.rec-indicator::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color, #ff0070);
  box-shadow: 0 0 10px 3px var(--accent-color, #ff0070);
}

/* Блок main */

.main {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px 10px 10px;
  max-width: 100vw;
  box-sizing: border-box;
}

.main_grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, min-content);
  gap: 44px;
}

.content{
  display: grid;
  grid-template-columns: max-content;
  gap: 20px;
}

.section_title{
  color: var(--section-title, #ff0070);
  inline-size: 355px;
}


.post_content{
  margin-top: 10px;
  color: var(--title, #F1B2CE);
  font-weight: normal;
}

.url-in-text{
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color, #ff0070);
}

.url-in-text:hover{
  border-bottom: 1px solid var(--title, #F1B2CE);
}

.url-in-text:focus-visible {
  border: 1px solid var(--title, #F1B2CE);
  padding: 1px;
  outline: none;
}

.container,
.content .title-decor,
.content_photos .title-decor{
  max-width: 355px;
}

.uniq{
  font-weight: normal;
}

.content_photos{
  display: grid;
  grid-template-columns: min-content;
  gap: 10px;
}

.content_photos:has(.title-decor){
  margin-top: 2px;
}

.pictures{
  inline-size: 355px;
  object-fit: cover;
  object-position: center;
}

.title-decor--spaced{
    margin-bottom: 20px;
  }


/* Блок footer */

.footer{
  margin-top: 40px;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.focus_footer{
  display: block;
  text-align: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--fucsia, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  margin-bottom: 20px;
}

.footer.decorated-zone::before {
  top: 0px;
}

.footer.decorated-zone::after {
  bottom: 20px;
}

@media (768px <= width < 1024px) {

  .page{
    max-width: 768px;
  }

  .header {
    block-size: 1024px;
  }

  .decorated-zone::before {
  top: 20px;
  right: 20px;
}

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu{
    margin-right: 10px;
    margin-bottom: 40px;
  }

  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    position: absolute;
    left: -10px;
  }

  .header_container{
    inline-size: 364px;
    justify-self: end;
    margin-right: 10px;
    margin-top: 40px;
  }

  .rec-indicator {
    top: 20px;
    right: 29px;
  }

  .main{
    padding: 20px;
  }

  .content{
    margin-top: 40px;
    gap: 19px;
  }
  .main_grid-container{
    gap: 38px;
  }

  .content,
  .main_grid-container{
    inline-size: 728px;
  }

  .section_title{
    inline-size: 236px;
  }

  .container,
  .content .title-decor,
  .content_photos .title-decor{
    max-width: 728px;
    grid-column-start: 2;
  }

  .customize-for-medium{
    grid-column: 1 / 2;
    max-width: 728px;
  }

  .content.big-padding{
    margin-bottom: 41px;
  }

  .content_photos{
    inline-size: 768px;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 23px repeat(3, min-content);
    gap: 20px;
  }

  .content_photos .title-decor{
    inline-size: 768px;
    grid-column-start: 1;   
  }
  
  .content_photos .pictures:nth-child(2){
    inline-size: 479px ;
    block-size: 192px;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }

  .content_photos .pictures:nth-child(3){
    inline-size: 229px ;
    
    block-size: 442px;
    grid-column: 3 / 3;
    grid-row: 2 / 4;
  }

  .content_photos .pictures:nth-child(4){
    inline-size: 229px ;
    block-size: 568px;
    grid-column: 1 / 1;
    grid-row: 3 / 4;
  }

  .content_photos .pictures:nth-child(5){
    inline-size: 230px;
    block-size: 230px;
    grid-column: 2 / 3;
    grid-row: 3 / 3;
  }

  .content_photos .pictures:nth-child(6){
    inline-size: 479px;
    block-size: 318px;
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    align-self: flex-end;
  }

  .footer{
    block-size: 1024px;
    margin-top: 40px;
  }
  .footer.decorated-zone::after {
    bottom: 40px;
  }

  .focus_footer{
    margin-bottom: 40px;
  }
}

@media (width >= 1024px) {

  .page{
    max-width: 1024px;
  }

  .main{
    padding-top: 60px;
    padding-left: 20px;
  }

  .main_grid-container{
    gap: 78px;
  }

  .header {
    block-size: 768px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec-indicator {
    top: 20px;
    right:29px;
  }

  .header__theme-menu{
    justify-content: center;
    align-items: start;
    margin-top: 10px;
  }

  .header__theme-menu-list{
    inline-size: 230px;
    block-size: 26px;
    flex-direction: row;
  }

  .header_container{
    inline-size: 491px;
    justify-self: end;
    margin-right: 10px;
    margin-top: 53px;
  }

  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    position: absolute;
    left: -10px;
  }

  .content,
  .main_grid-container{
    inline-size: 1024px;
  }

  .section_title{
    inline-size: 315px;
  }

  .customize-for-large{
    inline-size: 649px;
    grid-column-start: 2;
  }

  .container,
  .content .title-decor,
  .content_photos .title-decor{
    max-width: 984px;
  }

  .big-content{
    inline-size: 984px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    gap: 20px;
  }

  .big-content .section_title{
    grid-column: 1 / 4;
    grid-row: 1 / 1;
  }

  .content_photos{
    inline-size: 1024px;
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 23px repeat(3, min-content);
    gap: 20px;
  }

  .content_photos .title-decor{
    inline-size: 1024px;
    grid-column-start: 1;
  }
  
  .content_photos .pictures:nth-child(2){
    inline-size: 650px ;
    block-size: 260px;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }

  .content_photos .pictures:nth-child(3){
    inline-size: 314px;
    block-size: 595px;
    grid-column: 3 / 3;
    grid-row: 2 / 4;
  }

  .content_photos .pictures:nth-child(4){
    inline-size: 315px ;
    block-size: 768px;
    grid-column: 1 / 1;
    grid-row: 3 / 4;
  }

  .content_photos .pictures:nth-child(5){
    inline-size: 315px;
    block-size: 315px;
    grid-column: 2 / 3;
    grid-row: 3 / 3;
  }

  .content_photos .pictures:nth-child(6){
    inline-size: 649px;
    block-size: 433px;
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    align-self: flex-end;
  }

  .footer{
    block-size: 768px;
  }

  .focus_footer{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer.decorated-zone::before {
    top: 5px;
  }

  .footer.decorated-zone::after {
    bottom: 35px;
  }
}